<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
    <script type="text/javascript" src="/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/js/login.js" charset="utf-8"></script>
</head>
<body>
<form th:action="@{/category/queryByKeywords}" method="post">
    <table border="1">
        ajax_test:<div id ="loginbar">  </div>
        <input type="text" name="keywords" > </br>
        <input type="submit">
    </table>
</form>

</body>
</html>