<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <script type="text/javascript" th:src="@{js/jquery-3.4.1.js}"></script>
</head>
<body>
<center>
    <form th:action="@{/upload/imageUpload}" method="post">
        <table border="1">
            <tr role="row">
                <th valign="middle">分类ID</th>
                <th valign="middle">分类名称(高亮显示)</th>
                <th valign="middle">手机显示名称(高亮显示)</th>
                <th valign="middle">是否显示</th>
                <th valign="middle">分组</th>
                <th valign="middle">排序</th>
                <th valign="middle">图片</th>
                <th valign="middle">图片地址</th>
                <th valign="middle">操作</th>
            </tr>
            <tr th:each="category,categorystat:${PageResultBean.getList()}">
                <td th:text="${category.id}"></td>
                <td th:utext="${category.name}"></td>
                <td th:utext="${category.mobileName}"></td>
                <td th:text="${category.isShow}"></td>
                <td th:text="${category.catGroup}"></td>
                <td th:text="${category.sortOrder}"></td>
                <td><img th:src="${category.image}"></td>
                <td><a th:href="${category.image}">打开图片</a></td>
                <td><a href="#">查看</a></td>
            </tr>
        </table>
        <a th:if="${!PageResultBean.isFirstPage()}"
           th:href="@{/category/queryByKeywords3(pageStart=1)}">首页</a>
        <a th:if="${!PageResultBean.isFirstPage()}"
           th:href="@{/category/queryByKeywords3(pageStart=${PageResultBean.prePage})}">上一页</a>
        <a th:if="${!PageResultBean.isLastPage()}"
           th:href="@{/category/queryByKeywords3(pageStart=${PageResultBean.nextPage})}">下一页</a>
        <a th:if="${!PageResultBean.isLastPage()}"
           th:href="@{/category/queryByKeywords3(pageStart=${PageResultBean.getPages()})}">尾页</a>
    </form>
</center>
</body>
</html>